node-red-servo.json
[
  {
    "id": "672d08c4f356f511",
    "type": "tab",
    "label": "Project 702",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "671c4bf3e5379424",
    "type": "ui_button",
    "z": "672d08c4f356f511",
    "name": "",
    "group": "312c96f33cbda9ce",
    "order": 3,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Lock",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "lock",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 310,
    "y": 140,
    "wires": [["34b112e01a0df453"]]
  },
  {
    "id": "0341f55a9c9aef90",
    "type": "ui_button",
    "z": "672d08c4f356f511",
    "name": "",
    "group": "312c96f33cbda9ce",
    "order": 2,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Unlock",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "unlock",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 310,
    "y": 200,
    "wires": [["34b112e01a0df453"]]
  },
  {
    "id": "5973b5bb793a86ad",
    "type": "ui_text",
    "z": "672d08c4f356f511",
    "group": "312c96f33cbda9ce",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Lock Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 790,
    "y": 260,
    "wires": []
  },
  {
    "id": "a1486a7845d0e99d",
    "type": "mqtt in",
    "z": "672d08c4f356f511",
    "name": "",
    "topic": "servo/status",
    "qos": "2",
    "datatype": "auto",
    "broker": "ce6bfe76c21f8e79",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 550,
    "y": 260,
    "wires": [["5973b5bb793a86ad"]]
  },
  {
    "id": "34b112e01a0df453",
    "type": "mqtt out",
    "z": "672d08c4f356f511",
    "name": "",
    "topic": "servo/control",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "ce6bfe76c21f8e79",
    "x": 550,
    "y": 160,
    "wires": []
  },
  {
    "id": "312c96f33cbda9ce",
    "type": "ui_group",
    "name": "Project",
    "tab": "eea68a06cdb829c1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ce6bfe76c21f8e79",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "eea68a06cdb829c1",
    "type": "ui_tab",
    "name": "Project 702",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
